{% extends "ColegioBundle:Default:body.html.twig" %}

{% block stylesheets -%}
    {{ parent() }}
    {% stylesheets
        filter='cssrewrite'
        output='css/compiled/app.css' %}

        <link type="text/css" rel="stylesheet" href="{{ absolute_url(asset_url) }}" />

    {% endstylesheets %}
{%- endblock %}

{% block container %}
	<div class="row">
        <div class="col-md-12">
            <div class="widget-wrap">
                <div class="widget-container margin-top-0">
                    <div class="widget-content">
                        <form action="#" method="post" class="j-forms j-multistep" id="j-forms" novalidate>
                            <!-- end /.header-->

                            <div class="form-content">

                                <!-- start steps -->
                                <div class="wizard-breadcrumb default-style">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-3 step">
                                            <div class="steps">
                                                <span class="step-number">Información personal</span>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-3 step">
                                            <div class="steps">
                                                <span class="step-number">Información domiciliaria</span>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-3 step">
                                            <div class="steps">
                                                <span class="step-number">Contácto</span>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-3 step">
                                            <div class="steps">
                                                <span class="step-number">Grupo familiar</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
								
								<div class="load-div">
									<div class="row">
										<div class="col-md-12 text-center">
											<i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
										</div>
									</div>
								</div>
                                <!-- end steps -->

                                <fieldset>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <p class="input-instruction">
                                                <i class="fa fa-question-circle"></i> Campos marcados con <i class="fa fa-asterisk req-area"></i> son obligatorios.
                                            </p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 unit">
                                            <label class="label">R.U.T <i class="fa fa-asterisk req-area"></i></label>
                                            <div class="input">
                                                <input type="text" id="txt_rut" name="txt_rut" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6 unit">
                                            <label class="label">Numero de matricula {# <i class="fa fa-asterisk req-area"></i> #}</label>
                                            <div class="input">
                                                <input type="text" id="txt_numero_matricula" name="txt_numero_matricula" class="form-control">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
	                                    <div class="col-md-6 unit">
	                                        <label class="label">Nombre <i class="fa fa-asterisk req-area"></i></label>
	                                        <div class="input">
	                                            <input type="text" id="txt_nombre" name="txt_nombre" class="form-control">
	                                        </div>
	                                    </div>
	                                    <div class="col-md-6 unit">
	                                        <label class="label">Segundo nombre</label>
	                                        <div class="input">
	                                            <input type="text" id="txt_segundo_nombre" name="txt_segundo_nombre" class="form-control">
	                                        </div>
	                                    </div>
                                    </div>

                                    <div class="row">
                                    	<div class="col-md-6 unit">
	                                        <label class="label">Apellido paterno <i class="fa fa-asterisk req-area"></i></label>
	                                        <div class="input">
	                                            <input type="text" id="txt_apellido_paterno" name="txt_apellido_paterno" class="form-control">
	                                        </div>
	                                    </div>
	                                    <div class="col-md-6 unit">
	                                        <label class="label">Apellido materno <i class="fa fa-asterisk req-area"></i></label>
	                                        <div class="input">
	                                            <input type="text" id="txt_apellido_materno" name="txt_apellido_materno" class="form-control">
	                                        </div>
	                                    </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-md-6 unit">
                                            <label class="label">Fecha de nacimiento <i class="fa fa-asterisk req-area"></i></label>
                                            <div class="input">
                                                <input type="text" name="txt_fecha_nacimiento" class="form-control txt_fecha">
                                            </div>
                                        </div>
                                        <div class="col-md-6 unit">
                                            <div class="inline-group">
                                                <label class="label">Sexo <i class="fa fa-asterisk req-area"></i></label>
                                                <label class="radio">
                                                    <input type="radio" name="radio_sexo" checked="">
                                                    <i></i>
                                                    Masculino
                                                </label>
                                                <label class="radio">
                                                    <input type="radio" name="radio_sexo">
                                                    <i></i>
                                                    Femenino
                                                </label>
                                            </div>
                                        </div>

                                        {# <div class="col-md-6 unit">
                                            <label class="label">Phone/Mobile</label>
                                            <div class="input">
                                                <label class="icon-right" for="phone">
                                                    <i class="fa fa-phone"></i>
                                                </label>
                                                <input type="text" id="phone" name="phone" class="form-control">
                                            </div>
                                        </div> #}
                                    </div>
                                    <div class="row">
                                    	<div class="col-md-12 unit">
	                                        <label class="label">Comentario</label>
	                                        <div class="input">
	                                            <textarea spellcheck="false" name="txt_comentario" class="form-control"></textarea>
                                                <p class="input-instruction">
                                                    <i class="fa fa-question-circle"></i> Área de texto opcional para agregar información extra.
                                                </p>
	                                        </div>
	                                    </div>
                                    </div>

                                </fieldset>

                                <fieldset>

                                    <!-- start guests -->
                                    <div class="row">
                                        <div class="col-md-6 unit">
                                            <label for="select_comuna" class="label"> Comuna <i class="fa fa-asterisk req-area"></i></label>
                                            <select class="form-control select-search" id="select_comuna" name="select_comuna">
                                                <option value="default">Seleccionar</option>
                                                <option value="0">Apple</option>
                                                <option value="1">Banana</option>
                                                <option value="2">Coconut</option>
                                                <option value="3">Mango</option>
                                                <option value="4">Melon</option>
                                                <option value="5">Orange</option>
                                                <option value="6">Pear</option>
                                                <option value="7">Watermelon</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 unit">
                                            <label for="txt_villa" class="label">Villa</label>
                                            <div class="input">
                                                <input type="text" id="txt_villa" name="txt_villa" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6 unit">
                                            <label for="txt_poblacion" class="label">Población</label>
                                            <div class="input">
                                                <input type="text" id="txt_poblacion" name="txt_poblacion" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-md-6 unit">
                                            <label for="txt_calle" class="label">Calle <i class="fa fa-asterisk req-area"></i></label>
                                            <div class="input">
                                                <input type="text" id="txt_calle" name="txt_calle" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6 unit">
                                            <label for="txt_numero_direccion" class="label">Número casa</label>
                                            <div class="input">
                                                <input type="text" id="txt_numero_direccion" name="txt_numero_direccion" class="form-control">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 unit">
                                            <label for="txt_departamento" class="label">Departamento</label>
                                            <div class="input">
                                                <input type="text" id="txt_departamento" name="txt_departamento" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-3 unit">
                                            <label for="txt_departamento_piso" class="label">Piso</label>
                                            <div class="input">
                                                <input type="text" id="txt_departamento_piso" name="txt_departamento_piso" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-3 unit">
                                            <label for="txt_departamento_numero" class="label">Número departamento</label>
                                            <div class="input">
                                                <input type="text" id="txt_departamento_numero" name="txt_departamento_numero" class="form-control">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12 unit">
                                            <label class="label">Comentario</label>
                                            <div class="input">
                                                <textarea spellcheck="false" name="txt_comentario_direccion" class="form-control"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                </fieldset>

                                <fieldset>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <p class="input-instruction">
                                                <i class="fa fa-question-circle"></i> Correo obligatorio para enviar la clave de acceso a la intranet, y otra información al alumno.
                                                <br>
                                                <i class="fa fa-question-circle"></i> Opcionalmente se pueden agregar campos extras para ingresar mas de un correo o teléfono, asi tambien como quitar.
                                            </p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 unit">
                                            <label class="label">Correo <i class="fa fa-asterisk req-area"></i></label>
                                            <div class="clone-widget">
                                                <div class="unit widget left-50 right-50 toclone">
                                                    <div class="input">
                                                        <input class="form-control" type="email" name="correo[]">
                                                    </div>
                                                    <button type="button" class="addon-btn adn-50 adn-left delete">
                                                        <i class="fa fa-minus"></i>
                                                    </button>
                                                    <button type="button" class="addon-btn adn-50 adn-right clone">
                                                        <i class="fa fa-plus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 unit">
                                            <label class="label">Teléfono <i class="fa fa-asterisk req-area"></i></label>
                                            <div class="clone-widget">
                                                <div class="unit widget left-50 right-50 toclone">
                                                    <div class="input">
                                                        <input class="form-control" type="number" name="telefono[]">
                                                    </div>
                                                    <button type="button" class="addon-btn adn-50 adn-left delete">
                                                        <i class="fa fa-minus"></i>
                                                    </button>
                                                    <button type="button" class="addon-btn adn-50 adn-right clone">
                                                        <i class="fa fa-plus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- start response from server -->
                                    <div id="response"></div>
                                    <!-- end response from server -->

                                </fieldset>

                                <fieldset>

                                    <!-- start message -->
                                    <div class="row">
                                        <div class="col-md-12 unit">
                                            <div class="clone-link">
                                                <div class="toclone">

                                                    <a href="#" class="link clone"><i class="zmdi zmdi-plus"></i> Agregar persona</a>
                                                    <a href="#" class="link delete"><i class="zmdi zmdi-delete"></i> Eliminar</a>

                                                    <div class="j-row">
                                                        <div class="span6 unit">
                                                            <label class="label">R.U.T <i class="fa fa-asterisk req-area"></i></label>
                                                            <div class="input">
                                                                <input class="form-control" type="text">
                                                            </div>
                                                        </div>
                                                        <div class="span6 unit">
                                                            <label for="select_comuna" class="label"> Parentesco <i class="fa fa-asterisk req-area"></i></label>
                                                            <select class="form-control select-search" id="select_comuna" name="select_comuna">
                                                                <option value="default">Seleccionar</option>
                                                                <option value="0">Mamá</option>
                                                                <option value="1">Papá</option>
                                                                <option value="2">Abuelo(a)</option>
                                                                <option value="3">Tio(a)</option>
                                                                <option value="4">Primo(a)</option>
                                                                <option value="5">Hermano(a)</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="j-row">
                                                        <div class="span6 unit">
                                                            <label class="label">Nombre <i class="fa fa-asterisk req-area"></i></label>
                                                            <div class="input">
                                                                <input class="form-control" type="text">
                                                            </div>
                                                        </div>
                                                        <div class="span6 unit">
                                                            <label class="label">Segundo nombre</label>
                                                            <div class="input">
                                                                <input class="form-control" type="text">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="j-row">
                                                        <div class="span6 unit">
                                                            <label class="label">Apellido paterno <i class="fa fa-asterisk req-area"></i></label>
                                                            <div class="input">
                                                                <input class="form-control" type="text">
                                                            </div>
                                                        </div>
                                                        <div class="span6 unit">
                                                            <label class="label">Apellido materno</label>
                                                            <div class="input">
                                                                <input class="form-control" type="text">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="j-row">
                                                        <div class="span6 unit">
                                                            <label class="label">Correo</label>
                                                            <div class="input">
                                                                <input class="form-control" type="text">
                                                            </div>
                                                        </div>
                                                        <div class="span6 unit">
                                                            <label class="label">Teléfono <i class="fa fa-asterisk req-area"></i></label>
                                                            <div class="input">
                                                                <input class="form-control" type="text">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- end /.toclone -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end message -->

                                    <!-- start response from server -->
                                    <div id="response"></div>
                                    <!-- end response from server -->

                                </fieldset>

                            </div>
                            <!-- end /.content -->

                            <div class="form-footer block-form-footer">
                                <button type="submit" class="btn btn-success primary-btn multi-submit-btn">Guardar</button>
                                <button type="button" class="btn btn-primary primary-btn multi-next-btn">Siguiente</button>
                                <button type="button" class="btn btn-info secondary-btn multi-prev-btn">Anterior</button>
                            </div>
                            <!-- end /.footer -->

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts -%}
	{{ parent() }}
	{% javascripts
        '@ColegioBundle/Resources/public/js/lib/jquery.maskedinput.js'
        '@ColegioBundle/Resources/public/js/lib/jquery.validate.js'
        '@ColegioBundle/Resources/public/js/lib/jquery.form.js'
        '@BaseBundle/Resources/public/js/select2-4.0.3/js/select2.min.js'
        '@ColegioBundle/Resources/public/js/lib/jquery-cloneya.js'
        '@ColegioBundle/Resources/public/js/lib/forms.js'
        '@BaseBundle/Resources/public/js/validarut.js'
        '@AlumnoBundle/Resources/public/js/registrar-matricula.js'
        output='js/compiled/main.js' %}

        <script src="{{ absolute_url(asset_url) }}"></script>

    {% endjavascripts %}

{%- endblock %}