{% extends 'base/base.html.twig' %}

{% block body %}
	<!--Topbar Start Here-->
    <header class="topbar clearfix">
        <!--Topbar Left Branding With Logo Start-->
        {% include 'ColegioBundle:Default:topbar-left.html.twig' %}
        <!--Topbar Left Branding With Logo End-->
        <!--Topbar Right Start-->
        {% include 'ColegioBundle:Default:topbar-right.html.twig' %}
        <!--Topbar Right End-->
    </header>
    <!--Topbar End Here-->
    <!--Leftbar Start Here-->
    <aside class="leftbar material-leftbar">
        <div class="left-aside-container">
            {% include 'ColegioBundle:Default:user-profile.html.twig' %}
            {% include 'ColegioBundle:Default:menu-left.html.twig' %}
        </div>
    </aside>
    <!--Leftbar End Here-->
    <!--Page Container Start Here-->
    <section class="main-container">
        <div class="container-fluid">
            {% include 'ColegioBundle:Default:page-header.html.twig' %}
            
            {% block container %}{% endblock %}
        </div>
        <!--Footer Start Here -->
        {% include 'ColegioBundle:Default:footer.html.twig' %}
        <!--Footer End Here -->
    </section>
    <!--Page Container End Here-->
    <!--Rightbar Start Here-->
    {% include 'ColegioBundle:Default:right-bar.html.twig' %}
    <!--Rightbar End Here-->
{% endblock %}