<div class="page-header filled full-block light">
    <div class="row">
        <div class="col-md-6">
            <h2>Material Design Style Left Bar</h2>
            <p>Switch to <a href="#">Material</a> sidebar by replace only one class</p>
        </div>
        <div class="col-md-6">
            <ul class="list-page-breadcrumb">
                <li><a href="#">Home <i class="zmdi zmdi-chevron-right"></i></a></li>
                <li><a href="#">Layout <i class="zmdi zmdi-chevron-right"></i></a></li>
                <li class="active-page"> Material Leftbar</li>
            </ul>
        </div>
    </div>
</div>