<div class="page-header filled full-block light">
    <div class="row">
        <div class="col-md-6">
            <h2>Registrar Matricula</h2>
            <p>Ingresar la información de Matricula del alúmno a la intranet.</p>
        </div>
        <div class="col-md-6">
            <ul class="list-page-breadcrumb">
                <li><a href="#">Colegio Desarrollo <i class="zmdi zmdi-chevron-right"></i></a></li>
                <li><a href="#">Alumnos <i class="zmdi zmdi-chevron-right"></i></a></li>
                <li class="active-page"> Registrar Matricula</li>
            </ul>
        </div>
    </div>
</div>