<div class="topbar-left pull-left">
    <div class="clearfix">
        <ul class="left-branding pull-left clickablemenu ttmenu dark-style menu-color-gradient">
            <li><span class="left-toggle-switch"><i class="zmdi zmdi-menu"></i></span></li>
            <li>
                <div class="logo">
                    {% image '@ColegioBundle/Resources/public/images/logo.png' %}
                    <a href="#" title="Admin Template"><img src="{{ asset_url }}" alt="logo"></a>
                    {% endimage %}
                </div>
            </li>
        </ul>
        <!--Mobile Search and Rightbar Toggle-->
        <ul class="branding-right pull-right">
            {# <li><a href="#" class="btn-mobile-search btn-top-search"><i class="zmdi zmdi-search"></i></a></li> #}
            <li><a href="#" class="btn-mobile-bar"><i class="zmdi zmdi-menu"></i></a></li>
        </ul>
    </div>
</div>